{% load staticfiles pipeline %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    {% stylesheet 'libraries' %}
    {% javascript 'libraries' %}
    {% block extra_includes %}{% endblock extra_includes %}

    <title>{% block title %}{% endblock title %}</title>
  </head>

  {% block pre_body %}{% endblock pre_body %}

  <body>
    <div class="container">
      {% block container %}{% endblock container %}
    </div>
  </body>

  {% block post_body %}{% endblock post_body %}
</html>
