{% extends "todo/base_page.html" %}

{% block title %} DjangoDo|Lists {% endblock title %}

{% block container %}
  <div class="row">
    <div class="col s8 offset-s2">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th># Items</th>
            <th>Options</th>
          </tr>
        </thead>

        <tbody>
          {% for list in todo_lists %}
            <tr>
              <td><a href="{% url 'todo:lists_detail' list.id %}">{{list.name}}</a></td>
              <td>too many</td>
              <td>misc.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock container %}
